<!-- Page Preloder -->
<!-- <div id="preloder">
    <div class="loader"></div>
</div> -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a [routerLink]="['/home']" [routerLinkActive]="'active-link'">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="advanced-search">
                        <form (submit)="qSearch_Submit()" class="input-group">
                            <input type="text" [(ngModel)]="qSearch" name="qSearch" placeholder="Nhập sản phẩm tìm kiếm">
                            <button type="submit"><i class="ti-search"></i></button>
                        </form>
                    </div>
                </div>
                <!--Dung-->
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                      <li class="cart-icon">
                        <span *ngIf="CurrentUser; then CurrentUser_condition1; else CurrentUser_condition2"></span>
                        <ng-template #CurrentUser_condition1>
                            <a [routerLink]="['/user']" [routerLinkActive]="'active-link'" class="login-panel"><i class="fa fa-user"></i>{{ CurrentUser.full_name }}</a>
                        </ng-template>
                        <ng-template #CurrentUser_condition2>
                            <a [routerLink]="['/login']" [routerLinkActive]="'active-link'" class="login-panel"><i class="fa fa-user"></i>Đăng nhập</a>
                        </ng-template>                                             
                      </li>
                    </ul>
                </div>
                <!--end Dung-->
                <div class="col-lg-1 text-right col-md-1">
                    <ul class="nav-right">
                        <li class="cart-icon">
                            <a [routerLink]="['/cart']" [routerLinkActive]="'active-link'" id="suatotalsoluongdonhanglayout">
                                <i class="icon_bag_alt"></i>
                                <span>{{totalSP}}</span>

                            </a>
                            <div class="cart-hover">
                                <div class="select-items">
                                    <table id="loadcartlayout">
                                        <tbody>
                                            <tr *ngFor="let item of SPforCart">
                                                <td class="si-pic"><img src="{{item.img}}" alt=""></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p>{{item.price}} x {{item.amount}}</p>
                                                        <h6>{{item.name}}</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close" (click)="remove(item.product_id)"></i>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="select-total" id="loadtotalcartlayout">
                                    <span>Tổng:</span>
                                      <h5>{{totalCart}} đ</h5>
                                </div>
                                <div class="select-button">
                                    <a [routerLink]="['/cart']" [routerLinkActive]="'active-link'" class="primary-btn view-card">Xem chi tiết</a>
                                </div>
                            </div>
                        </li>
                        <li class="cart-price" id="totalpricelayout"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>Danh mục</span>
                    <ul class="depart-hover" >
                        <li *ngFor="let item of Danhmuc"><a href="/shop?type={{item.product_type_id}}">{{ item.name }}</a></li>
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li class="active"><a [routerLink]="['/home']" [routerLinkActive]="'active-link'">Trang chủ</a></li>
                    <li id="page_shop"><a [routerLink]="['/shop']" [routerLinkActive]="'active-link'">Sản phẩm</a></li>
                    <li id="page_login"><a [routerLink]="['/login']" [routerLinkActive]="'active-link'">Đăng nhập</a></li>
                    <li id="page_register"><a [routerLink]="['/register']" [routerLinkActive]="'active-link'">Đăng kí</a></li>
                    <li id="page_cart"><a [routerLink]="['/cart']" [routerLinkActive]="'active-link'">Giỏ hàng</a></li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->

<router-outlet></router-outlet>
<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a [routerLink]="['/shop']" [routerLinkActive]="'active-link'"><img src="assets/img/footer-logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Địa chỉ: 28/33/12 Thanh Đa phường 27 Bình Thạnh</li>
                        <li>Số điện thoại: 0364117408</li>
                        <li>Thư điện tử: tructruong.070202@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="footer-widget">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6688952901823!2d106.67992501410507!3d10.759981062440971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b7c3ed289%3A0xa06651894598e488!2sSaigon%20University!5e0!3m2!1sen!2s!4v1621242733703!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    
</footer>
<!-- Footer Section End -->